*,::before,::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;	
}

.accueil {
	background: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
}

